a{
	text-decoration: none;
}

#toTopBtn{
	position: fixed;
	left: 85%;
	bottom: 10%;
	display: none;
}

#instruction{
	display: none;
}

@media screen and ( max-width:520px ){
 .table{
   min-width: 500px;
 }
}

.result-div
{
	min-width: 500px;
}

.result
{
	border: 1px solid green;
	border-radius: 3px;
	min-width: 130px;
	text-align: center;
}