a{
	text-decoration: none;
}

#toTopBtn{
	position: fixed;
	left: 85%;
	bottom: 15%;
	display: none;
}

#instruction{
	display: none;
}

@media screen and ( max-width:520px ){
 .table{
   min-width: 500px;
 }
}

.result-div
{
	min-width: 500px;
}

.result-small{
	width: 500px;
	text-align: center;
}

.result
{
	min-width: 130px;
	text-align: center;
}